@(ssm: com.gitpitch.models.SlideshowModel)
<style>
  #title-footer p {
    font-size: 0.9em;
    padding-top: 1px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
  }
  #title-footer div.footer-hard {
  }
  #title-footer p.footer-fade {
    @if(ssm.isDarkTheme()) {
    color: #bbb;
    opacity: 0.6;
    } else {
    color: gray;
    opacity: 0.8;
    }
    font-size: 1.5vh;
    letter-spacing: 0;
    padding-top: 1px;
  }
  #title-footer #notification > span {
    font-family: 'Roboto', sans-serif;
    font-size: 85%;
  }
</style>
