@(rndr: com.gitpitch.utils.GitRepoRenderer, deps: com.gitpitch.policies.Dependencies, offline: Boolean)
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
  <body>
  <div class="pitch-menu">

    <span class="logo padding"><span class="logo-git">Git</span> Powered</span>

    <br><br>

    <div class="tagline-box">
      <p><span style="font-size: 1.1em; color: gray;">Markdown Presentations</span></p>
      <p><span style="font-size: 1.1em; color: gray;">for Everyone</span></p>
    </div>

    <br><br>
    <div class="section-heading">Providers</div>

    <br>


    <div class="git-box">

      <div style="padding-top: 25px; padding-bottom: 10px;"><span class="git-octicon" .2em"><span class="octicon octicon-git-branch"></span><span style="text-transform: uppercase; color: gray; padding-left: 15px;">Git Repo Service</span></div>

      <hr class="fade-away">

      <br>

      <ul class="slide-menu-items slide-menu-boxed">

        @for(grs <- rndr.listGRS()) {
          @if(grs.getType() == rndr.params().grs) {
          <li class="home-git slide-menu-item selected">
            <a class="active" href='@rndr.pageLink(false, grs.getType())'>@grs.getName()</a>
          </li>
          } else {
          <li class="home-git slide-menu-item">
            <a href='@rndr.pageLink(false, grs.getType())'>@grs.getName()</a>
          </li>
          }
        }

      </ul>

      <br><br>

      <hr class="fade-away">

      <br>
      <p style="letter-spacing: 2px">
        Promote, Pitch, Or Present
        <br>
        Absolutely Anything ;-)
      </p>
      <br><br>

    </div>

    <br>

  </div>

</body>
</html>
